$black-color: #171717;
$white-color: #f3f3f3;

body {
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: left;
}

.txt-center {
    text-align: center;
}

.container {
    padding: 20px;
}

h4 {
    text-align: center;
}

input {
    width: -webkit-fill-available;
}

.income-item {
    margin: 15px 0px;

    .title {
        display: block;
        text-align-last: justify;
    }
}